.DS_Store
npm-debug.log
node_modules
# Log file
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*

.npmrc

/docs/.vuepress/dist
/dist